# create a whitelist and start with ignoring every file and directory
*
# now un-ignore directories with their own .gitignore
!database
!catalog
!packages
# un-ignore important files in the main source directory
!makefile
!atistandard.sty
!.gitignore
!.gitmodules